<html>
<head>
  <script type="text/javascript" src="underscore-min.js" ></script>
  <script type="text/javascript" src="backbone.js" ></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js" ></script>
  <script type="text/javascript" src="main.js" ></script>

</head>
<body>

</body>
<div>

  <h1><%=@lol%></h1>
</div>
</html>